@charset "utf-8";

/*
「事業内容」共通
/business/*
*/


/*
***********************************************************************************************
アイキャッチ画像
***********************************************************************************************
*/

.eyecatch .bg_eyecatch {
	background-image: url(../img/eyecatch_business.jpg);
	background-position: left top;
}


/*
***********************************************************************************************
共通
***********************************************************************************************
*/

section + section,
section + a + section {
	margin-top: 150px;
}

	.viewmode-mobile section + section,
	.viewmode-mobile section + a + section {
		margin-top: 75px;
	}